@{ ViewBag.Title = "Index"; }

<ul class="nav nav-pills">
  <li class="pull-right">
     <a href="/Sessions/Create">Sign In</a>
  </li>
</ul>

<div class="masthead">
    <h3 class="muted">MMDB: My Movie Database</h3>
</div>

<hr>

<div class="jumbotron">
    <h1>Keep track of your movie collection!!</h1>
    <p class="lead">Keep a list of all your movies. You can specify the genre and store ratings for each file in your collection.</p>
    <a class="btn btn-large btn-success" href="/Registrations/Create">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
<div class="span6">
  <h4>Set the Genre</h4>
  <p>MMDB allow syou to store the genre for every movie in your collection.</p>

  <h4>No More Beige</h4>
  <p>Other databases seem to file everything under Romantic-Comedy</p>

  <h4>Be Specific</h4>
  <p>You can even create your own genres!</p>
</div>

<div class="span6">
  <h4>Rate your movies</h4>
  <p>Keep track of your favorite movies.</p>

  <h4>Sort by rating</h4>
  <p>That great move your saw is just a click away.</p>
</div>
</div>

<hr>
