@{ ViewBag.Title = "My Movies"; }

<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li class="pull-right">
      <form action="/Sessions/Delete" method="POST">
          <button class="btn btn-link" type="Submit">Logout</button>
      </form>
  </li>
</ul>

My MOvies